# Dependency directories
node_modules/
jspm_packages/

# Local Netlify folders
.netlify/
.data/

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# Build outputs
dist/
out/
build/

# OS metadata
.DS_Store
Thumbs.db

# Scratch/temporary folder
scratch/
